{% extends 'base.html' %}
{% block title %}
  Ниндзя Пират
{% endblock %}

{% load markup %}

<div class="index">
{% block body %}
{% if category %}<h2>Записи из категории &laquo;{{ category }}&raquo;:</h2>{% endif %}
{% if entry_list %}
  {% for entry in entry_list %}
  <div class="entry">
   <h2><a href="/entry/{{ entry.id }}/">{{ entry.title }}</a></h2>
    {{ entry.text|safe }}
    <br>
    <small>Дата публикации: {{ entry.date_publication }}</small>
  </div>
  {% endfor %}
{% else %}
  <div class="entry">
    <p>Записей{%if category %} из категории &laquo;{{ category }}&raquo;{% endif %} нету.</p>
  </div>
{% endif %}
{% endblock %}
</div>
